extends layout

block content
	main#admin-cards(class='container-fluid')
		section(class='row justify-content-center')
			div(class='col')

				// AdminServer stats
				div(class='card-group text-center')
					div(class='card bg-dark text-white')
						div(class='card-body')
							h3#stats-users 0
							span(class='card-text text-muted') User(s) registered
					div(class='card bg-dark text-white')
						div(class='card-body')
							h3#stats-ballot --
							span(class='card-text text-muted') Current ballot
				
				// Contestants table
				div#contestants(class='card shadow-lg')
					table(class='table')
						thead(class='thead-dark')
							tr
								th(class='col-index', scope='col') <!-- Index # -->
								th(class='col-contestant', scope='col') Contestant
								th(class='col-score', scope='col') Score
								th(class='col-votes', scope='col') Votes
								th(class='col-actions', scope='col') Actions
						tbody
							each contestant, index in contestants

								- var displayIndex = index + 1;

								tr(id=contestant.code)
									th(class='col-index', scope='row')=displayIndex
									td(class='col-contestant')=contestant.country + ': ' + contestant.artist + ' – "' + contestant.title + '"'
									td(class='col-votes') --
									td(class='col-score') --
									td(class='col-actions')
										a(class='open', data-index=index, href='#') Open
										a(class='text-danger kill', data-index=index, href='#') Kill

block footer
	script(src='/js/admin.js')