extends layout

block content
  div(class='container-fluid', id='client')
    //join
    div(id='ui-join')
      div(class='card shadow-lg')
        form(autocomplete='off')
          fieldset
            div(class='card-body')
              div(class='form-group mb-0')
                label(class='d-inline mb-0 text-center', for='name')
                  h6 Enter your name to join or reconnect
                input(class='form-control', id='name', maxlength='12', required, type='text')
            button(class='btn btn-lg btn-block btn-primary', disabled, type='submit') Join

    //scorecard
    div(id='ui-scorecard')
      div(class='card shadow-lg')
        h4(class='card-header border-0') Scorecard
        table(class='table table-striped mb-0')
          thead(class='thead-light')
            tr
              th(class='col-contestant', colspan='2', scope='col') Contestant
              th(class='col-score text-center text-nowrap', scope='col') Your score
          tbody
            each contestant, i in contestants              
              tr(id=contestant.code)
                td(class='col-flag text-center text-nowrap')
                  img(src='/media/flags/' + contestant.code + '.svg')
                td(class='col-contestant')
                  span(class='contestant-country') #{contestant.country}
                  span(class='contestant-details') #{contestant.artist + ' – "' + contestant.title + '"'}
                td(class='col-score text-center') --

    //ballot
    div(id='ui-ballot')
      div(class='card shadow-lg')
        h4(class='card-header')
          span(class='contestant-country') Country
          span(class='contestant-details') Artist – "Song"
          span(class='contestant-score')
        form
          fieldset
            ul(class='list-group list-group-flush')
              each category, i in categories

                - var id = i + 1;

                li(class='list-group-item')
                  h6 #{id + '. ' + category.title}
                  div(class='btn-group btn-group-toggle w-100', data-toggle='buttons')

                    - var n = 0;

                    while n <= category.max
                      label(class='btn btn-outline-primary') #{n}
                        input(id='cat-' + id, name='cat-' + id, required, type='radio', value=n++)
                  div(class='d-flex justify-content-between')
                    small(class='form-text text-muted')=category.labelmin
                    small(class='form-text text-muted')=category.labelmax
            button(class='btn btn-lg btn-block btn-primary', disabled, type='submit') Vote

      div(id='gnbb')
        button(class='text-hide', type='button') Graham Norton bitch button

block footer
  script(src='/javascripts/client.js')
