extends layout

block content
  div(class='container-fluid' id='client')
    //join
    div(class='view-join')
      div(class='card')
        form(autocomplete='off')
          fieldset
            div(class='card-body')
              div(class='form-group')
                label(for='user-name')
                  h5 Enter your name to join or reconnect
                input(class='form-control form-control-lg', id='username', maxlength='12', required, type='text')
            button(class='btn btn-lg btn-block btn-primary', disabled, type='submit') Join

    //scorecard
    div(class='view-scorecard')
      div(class='card')
        table(class='table table-striped')
          thead(class='thead-light')
            tr
              th(class='col-id', scope='col') #
              th(class='col-contestant', scope='col') Contestant
              th(class='col-score', scope='col') Score
          tbody
            each contestant, i in contestants

              - var id = i + 1;
              
              tr(id=contestant.code)
                th(class='col-id', scope='row') #{id}
                td(class='col-contestant')
                  span(class='contestant-country') #{contestant.country}
                  span(class='contestant-details') #{contestant.artist + ' – "' + contestant.title + '"'}
                td(class='col-score') --

    //ballot
    div(class='view-ballot')
      div(class='card')
        div(class='card-body')
          h3
            span(class='contestant-country') Country
            span(class='contestant-details') Artist – "Song"
        form
          fieldset
            ul(class='list-group list-group-flush')
              each category, i in categories

                - var id = i + 1;

                li(class='list-group-item')
                  h5 #{id + '. ' + category.title}
                  div(class='btn-group btn-group-toggle w-100', data-toggle='buttons')

                    - var n = 0;

                    while n <= category.max
                      label(class='btn btn-lg btn-outline-primary') #{n}
                        input(id='cat-' + id, name='cat-' + id, required, type='radio', value=n++)
                  div(class='d-flex justify-content-between')
                    small(class='form-text text-muted')=category.labelmin
                    small(class='form-text text-muted')=category.labelmax
            button(class='btn btn-lg btn-block btn-primary', disabled, type='submit') Vote

      div(class='graham')
        button(class='text-hide', type='button') Graham

block footer
  script(src='/javascripts/client.js')
